<header>
  <nav id="navbar">
    <div class="container">
      <h1 class="logo"><a href="index.html">HBT</a></h1>
      <ul>
        <li><a class="current" href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1>Ruby On Rails</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, eligendi laboriosam. Repellendus officia harum eaque.</p>
      </div>
    </div>
  </div>
</header>
