<!-- app/views/posts/new.html.erb -->

<h1>New Post</h1>
<div class="flex-container">
<%= render partial: 'form', locals: { post: @post } %>
</div>
<div class="new-post">
<%= link_to 'Index', posts_path, class:"btn" %>
</div>
