<!-- app/views/posts/new.html.erb -->

<h1 style="text-align:center;">New Post</h1>
<body background = "https://d32myzxfxyl12w.cloudfront.net/images/blog_images/be602627973000d99f6ba9a43aba117b82aa5e26.jpg?1649061518">
<%= render partial: 'form', locals: { post: @post } %>
<%= link_to 'Index', posts_path %>