<!-- app/views/posts/show.html.erb -->

<h1 class="title">show post id: <%= @post.id %></h1>
<ul class="show-content">
  <li><%= @post.title %></li>
  <li><%= @post.content %></li>
</ul>
<div class="new-post">
<%= link_to 'Index', posts_path, class:"btn" %>
</div>

